<h1><%=@doctor.name%></h1>
<h2>Department: <%@doctor.department%></h2>
<ul>
  <%@doctor.appointments.each do |apment|%>
    <li><%=link_to apment.human_datetime, appointment_path(apment)%> with patient: <%=link_to apment.patient.name, patient_path(apment.patient)%></li>
  <%end%>
</ul>
